*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Space-Grotesk";
    src: url(./resources/fonts/SpaceGrotesk-VariableFont_wght.ttf);
}
body{
    background-color: black;
}
.principal{
    position: fixed;
    margin: 20px;
    font-family: "Space-Grotesk";
}
.titulo{
    font-family: "Space-Grotesk";
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 450px;
    font-size: 28vw;
}
.color1{
    color: white;
}
.color2{
    color: #5956ec;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container a{
    margin: 20vh 0;
}
.container a img{
    height: 60vh;
}
.nav{
    justify-content: center;
    margin-top: 50px
}
.nav ul{
    display: flex;
    list-style: none;
    width: 80%;
    justify-content: space-evenly;
    font-family: "Space-Grotesk";
}
.current{
    color:#5956ec;
}
li a{
    font-family: "Space-Grotesk";
    color: white;
    text-decoration: none;
}
.marcas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.marcas a{
    margin: 20px;
}
.marcas a img{
    width: 29vw;
}
.footer{
    height: 100px;
    width: 100%;
    font-family: "Space-Grotesk";
}
.footer ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    height: 100px;
    border-top: 2px white solid;
    border-bottom: 2px white solid;
    margin: 40px;
    padding: 0;
}
.footer ul li{
    margin: 15px;
}
.footer ul li:last-child {
    margin-left: auto; /* Push the last item to the right */
}